network:
  version: 2
  ethernets:
    enp25s0f0np0:
      dhcp4: false
      dhcp6: false
      mtu: 9000
      addresses:
        - {{ rnic0ip }}/24
    enp59s0f0np0:
      dhcp4: false
      dhcp6: false
      mtu: 9000
      addresses:
        - {{ rnic1ip }}/24
    enp155s0f0np0:
      dhcp4: false
      dhcp6: false
      mtu: 9000
      addresses:
        - {{ rnic2ip }}/24
    enp187s0f0np0:
      dhcp4: false
      dhcp6: false
      mtu: 9000
      addresses:
        - {{ rnic3ip }}/24

